<div class="modal-footer text-left"> 
      <%= f.submit "Add Team", class: "btn btn-info" %>
  <div class="PreviousClassList">
    <h5>Use Previous Team List
    <%= check_box_tag "use_previous", '1' %>
    </h5>
 </div>
</div> 