<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
   <style type="text/css">

   body {
    font-family:Century Gothic, sans serif;
   }

   .header > a {
    color:#31b0d5;
    text-decoration: none;
   }

   .emailSocial {
    color: #31b0d5;
    text-decoration: none;
    display: block;
   }

  
  </style>


  <body>

    <h2 class="header"><%= @user.first_name %>, Evaluations are now open!</h2>

    <p>To evaluate your team members, follow this link: <%= @url %></p>

     <a class="emailSocial" href="https://www.facebook.com/foobli">Like us on Facebook</a>
    <a class="emailSocial" href="https://twitter.com/Foobli">Follow us on Twitter</a>

  </body>
</html>


