Welcome to Foobli.com, <%= @user.first_name %>
===============================================
 
Thanks for participating in our pilot. This means the world to us.
   
If you have any questions or concerns, please email us at <a href="mailto:info@foobli.com">info@foobli.com</a>
 
 If you are having an issues regarding the platform please check out the support page</p>
 
 Have a great idea or feature you think we should add? Don't be shy, let us know! All feeback is welcome.

To login to the site, just follow this link: <%= @url %>.
 
Have a great day!