<%= render 'shared/nav' %>

<div class="container">
	<div class="row">
	<div class="col-md-6">

		<form name="input" action="demo_form_action.asp" method="get">
			<input type="text" name="user">
			<input type="submit" value="Submit">
</form>

		</div>
	</div>
</div>

<% end %>















<%= render 'shared/internal_footer' %>

<%= render 'shared/modal' %>