  <div class="container-fluid" id="contact_us">
    <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="contactInfo">
            <a class="email-info" href="mailto:info@foobli.com?subject=Foobli%20Inquiries">
              <span class="glyphicon glyphicon-send">info@foobli.com</span></a>
          
              <a class="phone" href="tel: (647)-801-4500">
                <span class="glyphicon glyphicon-earphone">647-801-4500</span></a> 
          </div>
      </div>

        <div class="col-md-6 col-xs-12">
          <div class="mainFooterSocials">
            <a href="https://www.facebook.com/foobli" target="_blank"><i class="main-social fa fa-facebook"></i></a>
            <a href="https://twitter.com/Foobli" target="_blank"><i class="main-social fa fa-twitter"></i></a>
          </div>
        </div>
   
      
          <div class="col-md-12 col-xs-12">
            <!--begin copyright -->            
                <p class="copyright">© 2014 FOOBLI | All rights reserved.</p>
           <!--end logo -->
          </div>
      </div> <!-- closing of the row -->
    </div> 
  </div>