  <div class="container-fluid" id="internal-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8 internal-information">
        <a class="footer-info" href="mailto:info@foobli.com?subject=Foobli%20Inquiries">
        E: info@foobli.com |</a>
        <p class="footer-info">© 2014 FOOBLI - All rights reserved |</p>
                 <!--end logo -->
        <a class="footer-info" href="tel: (647)-801-4500">T: 647-801-4500 </a> 
            <!--begin copyright -->
      </div> 
        <div class="col-md-4 internal-social">
            <a href="https://www.facebook.com/foobli" target="_blank"><i class="in-social fa fa-facebook"></i></a>
            <a href="https://twitter.com/Foobli" target="_blank"><i class="in-social fa fa-twitter"></i></a>
        </div>
    </div>
    <!-- Closing of the footer -->
  </div>
</div>