
  <div class="container-fluid">
    <div class="row">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand internal-brand" href="#">PEER4M</a>
          </div>
              <ul class="nav navbar-nav internal-nav pull-right">
                <li class="active"><a href="#">Courses</a></li>
                <li><a href="#">Assignments</a></li>
                <li><%= link_to 'Log out', destroy_user_session_path, :method => 'delete' %></li>
            </ul>
          </div>
        </div>
    </div>
  </div>

