

	<header class="bg mac">
		<nav class="navbar-default" role="navigation">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <%= link_to 'PEER4M', root_path, :class => "navbar-brand" %>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      
		      <ul class="nav navbar-nav navbar-right">
		        <!-- <li><a href="about.html">About</a></li> -->
		        <li><%= link_to 'About', about_path %></li>
		        <li><a data-target="#LoginModal" data-toggle="modal" href="#">Login</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container -->
		</nav><!-- /.navigation -->

		<div class="container main-content">
			<div class="row">
				<div class="col-md-12">
					<p class="intro">PEER4M is a platform designed to recognize, develop, and align college students through a convenient online peer evaluation system for group projects.
					</p>
					<a href="mailto:info@peer4m.com?subject=PEER4M Free Trial
      				&body=Please let us know the institution you belong too, your full name and where you can be reached at. Thank you!" class="btn-trial">Free Trial</a>
				</div>
			</div>
		</div> <!-- end of main content -->

	</header><!-- /header -->

	<!-- Login Modal -->

<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login</h4>
        <h5 class="modal-subtitle">No Account? Register</h5>
      </div>
	  	<div class="modal-body">
	  		<form class="form-horizontal" role="form">
	  			<div class="input-group">
			  		<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
			  		<input class="form-control" type="text" placeholder="Email address">
				</div>
				
				<div class="input-group">
			  		<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
			  		<input class="form-control" type="password" placeholder="Password">
				</div>
				<!-- <div class="checkbox">
			        <label>
			          <input type="checkbox"> Remember me
			        </label>
			    </div> -->
			    <div class="form-group">
	                <div class="col-md-12 col-sm-12">
	                    <button type="submit" class="sign-in btn btn-default">Sign in</button>
	                </div>
	            </div>
			</form>
		</div> <!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="container-fluid statistics">
	<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="heading">Case in Point</h2>
			<hr class="underline">
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-1">
		<p class="align-c"><i class="fa fa-check-square-o"></i></p>
		</div>
		<div class="col-md-11 col-xs-12">
			<p class="stat">Roughly 50% of employers cite soft skills, the most important skill employers look for, as the biggest deficiency amongst recent graduates.</p>
		</div>
	</div>

	<div class="row fact">
		<div class="col-md-1">
		<p class="align-c"><i class="fa fa-check-square-o"></i></p>
		</div>
		<div class="col-md-11 col-xs-12">
			<p class="stat">Post-secondary students are supposed to develop soft skills through academic group work, however it has failed to effectively prepare recent graduates for the 'real world'.</p>
		</div>
	</div>

	<div class="row fact">
		<div class="col-md-1">
		<p class="align-c"><i class="fa fa-check-square-o"></i></p>
		</div>
		<div class="col-md-11 col-xs-12">
			<p class="stat">Over 50% of students have a negative perception towards group work due to unequal distribution of work and the infrequent use of peer evaluations, which both contribute to a group environment that is not conducive to soft skill development.</li>
			</p>
		</div>
	</div>		
		
	</div> <!-- /.container -->
</div> <!-- /.container-fluid .statistics -->





	<!-- featured information --> 
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="heading">Features</h2>
				<hr class="underline">
			</div>
		</div>
	<div class="feature-wrapper">
		<div class="row">

			<div class="col-md-3 feature">
                <span class="glyphicon glyphicon-signal"></span>
                <div class="feature_details">
                    <h3>Student Development</h3>
                    <p>Students receive feedback from peers allowing them to identify areas requiring further development and easily track their progress.</p>
                </div>
            </div>

			<div class="col-md-3 feature">
                <span class="glyphicon glyphicon-star-empty"></span>
                <div class="feature_details">
                    <h3>Student Recognition</h3>
                    <p>Motivate students through facilitating recognition that can be shared with friends and family through social media and with employers through job application submissions.</p>
                </div>
            </div>
            
            <div class="col-md-3 feature">
                <span class="glyphicon glyphicon-tasks"></span>
                <div class="feature_details">
                    <h3>Student Alignment</h3>
                    <p>Align the interests of students by creating a culture where those who are committed and apply themselves are recognized.</p>
                </div>
            </div>
            
            <div class="col-md-3 feature">
                <span class="glyphicon glyphicon-time"></span>
                <div class="feature_details">
                    <h3>Instructor Convenience</h3>
                    <p>Online administration, distribution, and collection of peer evaluations make this process more convenient.</p>
                </div>
            </div>
        </div> <!-- End of row -->
    </div> <!-- End of wrapper -->
</div> <!-- End of featured information -->


<div class="container-fluid quotations">
  <div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="heading">Why use PEER4M?</h2>
			<hr class="underline">
		</div>
  
		  <div class="col-md-4 quote">
		    <blockquote class="quote-text">
		    <a href="http://ehlt.flinders.edu.au/education/iej/articles/v4n3/Burdett/paper.pdf" target="_blank">
		    Majority of post-secondary students have a negative perception towards group work stemming from unequal distribution of work and infrequent use of peer evaluations.</a>
		    </blockquote>
		    <img class="quote-author-pic" src="/assets/janeburdett.jpg">
		    <p class="quote-author"><strong>Dr. Jane Burdett</strong></a></p>
		  </div>
  
 
			<div class="col-md-4 quote">
				<blockquote class="quote-text">
			    <a href="http://business.time.com/2013/11/10/the-real-reason-new-college-grads-cant-get-hired" target="_blank">Studies show that between 45 - 60% of North American employers feel that recent graduates lack soft skills necessary in the 'real world'.</a>
			    </blockquote>
			    <img class="quote-author-pic" title="addeco-logo" src="/assets/adecco.png">
			    <p class="quote-author"><strong>Workforce &amp; Adecco</strong></a></p>
			</div>

  
			  <div class="col-md-4 quote">
			  	<blockquote class="quote-text">
			    <a href="https://twitter.com/search?q=group%20work&src=typd" target="_blank">&quot;During the school year, two students per minute tweet something negative about group work. Search "group work" on Twitter, see for yourself.&quot;</a>
			    </blockquote>
			    <img class="quote-author-pic" title="stefano-twitter-picture" src="assets/stefano-twitter.png">
			    <p class="quote-author"><strong>Stefano Cerone</strong></p>
			  </div>
  	</div> <!-- / row -->
  </div> <!-- / container -->
</div> <!-- / container-fluid -->




