// Dropdown Menu icons

.fa-cog, .fa-sign-out {
	margin-right:5px;
}



// Table icons

.glyphicon-eye-open, .glyphicon-pencil, .glyphicon-trash, .fa-user {
	font-size:18px;
	color:rgba(255,77,77,1);
}

.fa-check {
	font-size:20px;
	color:rgba(58,193,98,1);
}



// Internal footer social icons

.in-social.fa-facebook, .in-social.fa-twitter,.in-social.fa-linkedin {
	font-size:1.3em;
	color:rgba(255,255,255,0.3);
	height:22px;
	line-height:22px;


}

.in-social.fa-facebook:hover, .in-social.fa-twitter:hover,.in-social.fa-linkedin:hover {
	color:rgba(49,176,213,0.8);
}