// Dropdown Menu icons

.fa-cog, .fa-power-off, .fa-question-circle {
	margin-right:5px;
}



// Table icons

.glyphicon-eye-open, .glyphicon-pencil, .glyphicon-trash, .fa-user {
	font-size:18px;
	color:rgba(255,77,77,1);
}

.fa-check {
	font-size:20px;
	color:rgba(58,193,98,1);
}



// Internal footer social icons


.in-social.fa-facebook, .in-social.fa-twitter {
	font-size:1.3em;
	color:rgba(255,255,255,0.3);
	height:22px;
	line-height:22px;


}

.in-social.fa-facebook:hover, .in-social.fa-twitter:hover {
	color:rgba(49,176,213,0.8);
}


//  Badges

.notification-badge {
	position:absolute;
	top:10px;
	right:-5px;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #777;
	border-radius: 10px;

}

// .props-badge {
// 	position:absolute;
// 	top:7px;
// 	right:6px;
// 	min-width: 10px;
// 	padding: 3px 7px;
// 	font-size: 12px;
// 	background-color:#fff;
// 	color: #777;
// 	border-radius: 10px;
// 	text-align: center;
// 	white-space: nowrap;
// 	vertical-align: baseline;

// 	}


// Info Icon - Rubric PDF


.evaluation-header p {
	display:inline-block;
}






