@import "mixins";

.alert {
	position:absolute;
	z-index:999;
	// top:100px;
	// left:15px;
	@include border-radius(50px);
	color:#fff;
	border:none;
	right:40px;
	bottom:65px;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

 .alert-success {
 	background-color: rgba(0,230,115,0.7);
 	border-color:transparent;
 }

 .alert-danger {
 	background-color: rgba(255,26,26,0.7);
 	border-color:transparent;
 }




 // "alert-warning"   # Yellow

 // "alert-info"      # Blue