/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree
 *= require font-awesome
 *= require rails_bootstrap_forms
 *= require bootstrap-datepicker3
 */

 // require_self includes this file last
 // require_tree compiles all sass files

$link-color:#ff4d4d;


@import "bootstrap";


// defaults

.devise-links {
	color:$link-color;
	font-size:1.3rem;
	margin-top:10px;
}

.devise-links a {
	color:$link-color;
}

.devise-links a:hover {
	color:$link-color;
	text-decoration:underline;
}


.datepicker.datepicker-dropdown{
	z-index:99999 !important;
}

html,
body {
	height:100%;
}

#wrapper {
	min-height:100%;
	position:relative;

}

#content {
	padding-bottom:130px;
}

#contact_us {
	width:100%;
	height:130px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;

}




// Home Page Navigation

h1 {
    font-family: 'Lanenar';
}

a {
	color:#000;
}

a:hover {
	text-decoration:none;
	color:#000;
}


.navbar-toggle {
	padding:10px 0;
}

// Internal Navigation

.nav > li > a {
	padding:20px 15px;
	font-family:Century Gothic;
}

.navbar {
	border:none;
	border-radius:0px;
}

div.navbar.navbar-default {
	background:#e7e7e7;
	min-height:60px;
}

.navbar > .container .navbar-brand {
	margin-left:0;
}


.navbar-default .navbar-brand.internal-brand {
	font-size: 4rem;
	padding:5px;
	margin:3px 0;
	letter-spacing: 2px;
	line-height:50px;
	height:50px;
	text-transform: uppercase;
	color: #ff4d4d;

}

.blue-active {
	border-bottom:4px solid rgba(14, 180, 240, 1);
	height:60px;
	
}

.navbar-default .navbar-nav.internal-nav > li > a.blue-active, .navbar-default .navbar-nav.internal-nav > li.blue-active  {
	background:rgba(14, 180, 240, 1);
}


.navbar-default .navbar-nav.internal-nav > li > a:hover  {
	height:60px;
	color:#31b0d5;
	border-bottom:4px solid rgba(14, 180, 240, 1);
	-webkit-transition: border-bottom .25s ease-in-out;
	-moz-transition: border-bottom .25s ease-in-out;
	-ms-transition: border-bottom .25s ease-in-out;
	-o-transition: border-bottom .25s ease-in-out;
}

// .navbar-default .navbar-nav.internal-nav > .blue-active > a, .navbar-default .navbar-nav > .blue-active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
// 	color:#31b0d5;
// 	border-bottom:4px solid #31b0d5;
// 	-webkit-transition: border-bottom .25s ease-in-out;
// }

// Dropdown Menu(s)

.dropdown-menu {
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	-o-box-shadow:none;
}


.dropdown-menu .dropdown-caret {
	
	position: absolute;
	top: -10px;
	width: 18px;
	height: 10px;
	float: left;
	left: auto;
	right: 71px;
	overflow: hidden;

}

.dropdown-caret .caret-outer {
	
	border-bottom: 10px solid #8899a6;
	border-bottom-color: rgba(0,0,0,0.1);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: auto;
	left: 0;
	top: 0;
	width: auto;
}

.dropdown-caret .caret-inner {
	
	top: 1.2px;
	left: 1px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #fff;
	border-bottom-color: rgba(255,255,255,0.98);
}

.caret-inner {
	
	position: absolute;
	display: inline-block;
	margin-left: -1px;
}


.dropdown-menu a {
	font-family: 'Century Gothic';
	
}

.dropdown-menu > li:hover {
	color:#fff;
}

.dropdown-menu > li > a {
	color:#777777;
}

.dropdown-menu > li > a:hover {
	background:rgba(14, 180, 240, 1);
	color:#fff;

}

.fa-cog, .fa-sign-out {
	margin-right:5px;
}

.navbar-default .navbar-nav.internal-nav > .open > a {
	color:rgba(14, 180, 240, 1);
}






/* Login Modal */





// .modal-title {
// 	text-align: center;
// 	font-family: 'Lanenar';
// 	color: #ff4d4d;
// 	font-size: 3rem;

// }

// .modal-title {
// 	text-align: center;
// 	font-family: 'Lanenar';
// 	color: #ff4d4d;
// 	font-size: 3rem;

// }

// .modal-subtitle {
// 	text-align: center;
// 	margin-top:20px;
// }

// .modal-header {
// 	border-bottom: none;
// }

// .modal-backdrop {

//   background-color:#ff4d4d;

// }
// .modal-backdrop.fade {
//   filter: alpha(opacity=0);
//   opacity: 0;
// }
// .modal-backdrop.in {
//   filter: alpha(opacity=80);
//   opacity: 1;
// }

// .modal-content {

//   background-color: rgba(255,255,255,0.7);
// 	border:none;
//   outline: none;
//   -webkit-box-shadow:none;
//   box-shadow:none;
// }


// Modal Window - Login


// Action Modals

.modal-title {
	color:#fff;
}


.modal-header.actions {
	border-bottom:none;
	background:rgba(14,180,240,0.8);
	text-align:center;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
}

.modal-content.action-modal {
	box-shadow:none;
	-webkit-box-shadow:none;
	-ms-box-shadow:none;
	-o-box-shadow:none;
	-moz-box-shadow:none;
	border:none;

}



//  Action Buttons

.btn {
	border:none;
}

.btn.action {
	font-size:1.8rem;
}

.btn-info.btn-block.btn-lg {
	font-family: 'Lanenar';
}

.btn-custom {
	font-family: 'Lanenar';
	background:rgba(255,77,77,0.7);
	color:#fff;
}

.btn-custom.btn:hover {
	background:rgba(255,77,77,1);
	color:#fff;
}

.btn.btn-lg {
	border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	-moz-border-radius:4px;
}

.inline {
	display:inline-block;
}


// Table icons

.glyphicon-eye-open, .glyphicon-pencil, .glyphicon-trash, .fa-user {
	font-size:18px;
	color:rgba(255,77,77,1);
}


// Tables

.heading-titles {
	margin-bottom:20px;
}

.table > thead:first-child > tr:first-child > th {
	background:rgba(255,77,77,0.7);
}

.page-title {
	margin:50px;
}

.tb-btn-space {
	margin:20px;
	text-align:center;
}



td.t-info {

	width:14em;
	word-wrap:break-word;

	} 

.table thead tr th:first-child {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;

}

.table thead tr th:last-child {

border-top-right-radius: 4px;
border-bottom-right-radius: 4px;

}

.table > thead > tr > th {
	border-bottom:transparent;
}

tbody tr:nth-child(even){
  background:#ECF0F1;

}

.table > tbody > tr > td {
	border-top:none;
	padding-top:15px;
	padding-bottom	:15px;
}

.courses-table {
	margin-bottom:40px;
	position:relative;
}

// Date Picker

input#course_start_date {
	width:38.5%;
}

.datepicker table tr td.active.active, .datepicker table tr td.active:hover.active {
	background-color:#31b0d5 !important;
}

.datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active {
	background-color:#31b0d5 !important;
}

// Tooltip


.tooltip-inner {
	background:rgba(51,51,51,1);
	padding:10px;
}


.tooltip.left .tooltip-arrow {
	border-left-color:rgba(51,51,51,1);
}

.tooltip.right .tooltip-arrow {
	border-right-color:rgba(51,51,51,1);
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color:rgba(51,51,51,1);
}

// Courses / Assignments / Teams Error

.no-courses, .no-assignments, .no-teams {
	color:rgba(34,34,34,0.3);
	padding:2%;
	margin-top:40px;

}

// Forms

input {
	font-family: 'Lanenar';
}

.first-name-field,  {
	padding-right:5px;
	padding-left:0;
}

.last-name-field {
	padding-right:0;
	padding-left:5px;
}



// input#user_first_name, input#user_last_name  {
// 	display:inline-block;
// 	width:50%;
// }


// Media Queries

@media (max-width: 768px) {

	.navbar-collapse {
  	border-top:transparent;
  	box-shadow: none;
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  }


}










