/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree
 *= require font-awesome
 *= require rails_bootstrap_forms
 *= require bootstrap-datepicker3
 */

 // require_self includes this file last
 // require_tree compiles all sass files

$link-color:#ff4d4d;
$font-lanenar:'Lanenar', Century Gothic;

@import "fonts";
@import "mixins";
@import "buttons";
@import "bootstrap";


// Wrapper and container to hold down the footer when no content above it

html,
body {
	height:100%;
	background:#fff;
}


#wrapper {
	min-height:100%;
	position:relative;

}

#content {
	padding-bottom:130px;
}

// Footer

#contact_us {
	width:100%;
	height:130px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;

}

#internal-footer {
	background:#383736;
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

.internal-information {
	padding:10px;
	line-height:22px;
	height:22px;
}

.footer-info {
	font-family:$font-lanenar;
	color:rgba(255,255,255,0.3);
	display:inline-block;
	
}

a.footer-info:hover {
	color:rgba(255,255,255,0.8);
}


.internal-social {
	text-align:right;
}



// Internal Background

.internal-bg {
	background:#e7e7e7;
}


// defaults

.devise-links {
	color:$link-color;
	font-size:1.3rem;
	margin-top:10px;
}

.devise-links a {
	color:$link-color;
}

.devise-links a:hover {
	color:$link-color;
	text-decoration:underline;
}





// Home Page Navbar

h1 {
    font-family:$font-lanenar;
}

a {
	color:#000;
}

a:hover {
	text-decoration:none;
	color:#000;
}


.navbar-toggle {
	padding:10px 0;
}


// Internal Navbar

.nav > li > a {
	padding:20px 15px;
	font-family:Century Gothic;
}

.navbar {
	border:none;
	@include border-radius(0px);
}

div.navbar.navbar-default {
	background:#fff;
	border-bottom:2px solid #cccccc;
	@include box-shadow(2px 2px 2px #dddddd);
	min-height:60px;
}

.navbar > .container .navbar-brand {
	margin-left:0;
}


.internal-brand {
	padding:8px 0 4px 0;
	margin: 0 0 0 -12px;


}

.blue-active {
	border-bottom:4px solid rgba(14, 180, 240, 1);
	height:60px;
	
}

.navbar-default .navbar-nav.internal-nav > li > a.blue-active, .navbar-default .navbar-nav.internal-nav > li.blue-active  {
	background:rgba(14, 180, 240, 1);
}


.navbar-default .navbar-nav.internal-nav > li > a:hover  {
	height:60px;
	color:#31b0d5;
	border-bottom:4px solid rgba(14, 180, 240, 1);
	@include transition(border-bottom .25s ease-in-out);
}


// Dropdown Menu(s)

.navbar .navbar-nav li .dropdown-menu:before {
	position: absolute;
	top: -9.5px;
	right: 9px;
	display: inline-block;
	border-right: 8px solid transparent;
	border-bottom: 9px solid #cccccc;
	border-left: 8px solid transparent;
	content: '';
}

.navbar .navbar-nav li .dropdown-menu:after {
	position: absolute;
	top: -7px;
	right: 9px;
	display: inline-block;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	border-left: 8px solid transparent;
	content: '';
}


.dropdown-menu a {
	font-family: Century Gothic;
	
}

.dropdown-menu > li:hover {
	color:#fff;
}

.dropdown-menu > li > a {
	color:#777777;
}

.dropdown-menu > li > a:hover {
	background:rgba(14, 180, 240, 1);
	color:#fff;

}


.navbar-default .navbar-nav.internal-nav > .open > a {
	color:rgba(14, 180, 240, 1);
	background:transparent;
}

.navbar-default .navbar-nav.internal-nav > .close > a {

} 

.caret {
	@include transition(all 1s);

}

// Notifications Dropdown

ul.dropdown-menu.notifications {
	min-width:420px;
	left:-955%;
	position:absolute;
	padding-top:0;
}


.notification-title {
	padding: 15px 20px;
	background:#fff;
	margin:0;
	cursor:default;
	color:rgba(255, 77, 77, 1);
	font-family: 'Helvetica';

}

.fa-list-ul {
	margin-right: 5px;
}

.notification a:hover {
	background:#ccc;
}

.dropdown-menu.notifications .divider {
	margin:0;
}

.dropdown-menu.notifications > a.content-block {
	margin:5px;
	background: white;
	padding: 15px 90px 15px 15px;
	@include border-radius(3px);
}

#notification-number {
	border:2px solid #ccc;
	margin:5px;
}






















// Rating Panels

.rating-panel {
	margin:0 0 40px 0;
	background:#fff;
	@include border-radius(4px);

}

.rating-icon {
	text-align:center;
	margin:0 auto;
	width:150px;
	height:150px;

}

.category-title {
	display:inline-block;
	margin-right:15px;

}

.bubble-box {
	display:inline-block;
	margin-right:15px;
}

.student-comments {
	font-size:1em;

}

.rating-box {
	display:inline-block;
}


.rating-title {
	font-family:$font-lanenar;
	color:#ff4d4d;
	padding:30px 0;
}

.rating-body {
	text-align:center;
	padding: 10px 15px;
	margin:20px 0;
}

.rating-fine-print {
	color: rgba(49,176,213,1);
	font-size:10px;
	margin:20px 0;
}

.panel-footer {
	background:#fff;
}

.rating-value {
	margin:0;
	color:#fff;
	background:#39d1b4;
	@include border-radius(50%);
	font-size:4em;
	padding:40px;
	display:inline-block;


}

.rating-bubble {
	@include border-radius(50%);	
	background:#39d1b4;
	padding:10px;
	display:inline-block;
}

.comment-box {
	background:#fff;
	padding:20px;
	margin-bottom:20px;
}

.comment-box:nth-child(1) {
	margin-top:10px;
}



.dashboard-assignment {
	margin-top:30px;	
}

.ratings-wrapper {
	// margin:0 auto;
	background:rgba(255,77,77,0.8);
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

li.rating-list {
	list-style-type:none;
	display:inline-block;
}

ul.ratings-wrapper {
	-webkit-padding-start: 20px;
}


// Action Modals

.modal-title {
	color:#fff;
}


.modal-header.actions {
	border-bottom:none;
	background:rgba(14,180,240,0.8);
	text-align:center;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
}

.modal-content.action-modal {
	box-shadow:none;
	-webkit-box-shadow:none;
	-ms-box-shadow:none;
	-o-box-shadow:none;
	-moz-box-shadow:none;
	border:none;

}

.no-students {
	font-family:$font-lanenar;
	margin:40px;
	font-size:2rem;
}

// Accordion For Team Members

.panel-default > .panel-heading {
	background:rgba(255, 77, 77, 0.7);
	border-color:none;
}

.panel-group .panel {
	margin-bottom:20px;
}







// Tables

.heading-titles {
	margin-bottom:20px;
}

.table > thead:first-child > tr:first-child > th {
	background:rgba(255,77,77,0.7);
}

.page-title {
	margin:50px;
}

.tb-btn-space {
	margin:20px;
	text-align:center;
}



td.t-info {

	width:14em;
	word-wrap:break-word;

	} 

.table thead tr th:first-child {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;

}

.table thead tr th:last-child {

border-top-right-radius: 4px;
border-bottom-right-radius: 4px;

}

.table > thead > tr > th {
	border-bottom:transparent;
}

tbody tr:nth-child(even){
  background:#ECF0F1;

}

.table > tbody > tr > td {
	border-top:none;
	padding-top:15px;
	padding-bottom	:15px;
}

.courses-table {
	margin-bottom:40px;
	position:relative;
}

// Date Picker

input#course_start_date {
	width:38.5%;
}

.datepicker table tr td.active.active, .datepicker table tr td.active:hover.active {
	background-color:#31b0d5 !important;
}

.datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active {
	background-color:#31b0d5 !important;
}


.datepicker.datepicker-dropdown{
	z-index:99999 !important;
}


// Tooltip


.tooltip-inner {
	background:rgba(51,51,51,1);
	padding:10px;
}


.tooltip.left .tooltip-arrow {
	border-left-color:rgba(51,51,51,1);
}

.tooltip.right .tooltip-arrow {
	border-right-color:rgba(51,51,51,1);
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color:rgba(51,51,51,1);
}


.no-courses, .no-assignments, .no-teams {
	color:rgba(34,34,34,0.3);
	padding:2%;
	margin-top:40px;
	display:none; //fades in once loader is done

}

.no-comment {
	color:rgba(34,34,34,0.3);
	padding:2%;
}

.comment-section {
	margin-bottom:40px;
}

// Forms

input {
	font-family: 'Lanenar';
}

.first-name-field,  {
	padding-right:5px;
	padding-left:0;
}

.last-name-field {
	padding-right:0;
	padding-left:5px;
}





// Media Queries

@media (max-width: 768px) {

	.navbar-collapse {
  	border-top:transparent;
  	box-shadow: none;
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  }


}










