/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree
 *= require font-awesome
 *= require rails_bootstrap_forms
 */

 // require_self includes this file last
 // require_tree compiles all sass files

$link-color:#000;


@import "bootstrap";
@import "bootstrap-datetimepicker";

// defaults


html,
body {
	height:100%;
}

#wrapper {
	min-height:100%;
	position:relative;

}

#contact_us {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	right:0;

}



// Home Page Navigation

h1 {
    font-family: 'Lanenar';
}

a:hover {
	text-decoration:none;
}


.navbar-toggle {
	padding:10px 0;
}

// Internal Navigation

.nav > li > a {
	padding:20px 15px;
}

.navbar {
	border:none;
	border-radius:0px;
}

div.navbar.navbar-default {
	background:#e7e7e7;
	min-height:60px;
}

.navbar > .container .navbar-brand {
	margin-left:0;
}


.navbar-default .navbar-brand.internal-brand {
	font-size: 4rem;
	padding:5px;
	margin:6px 0;
	letter-spacing: 2px;
	line-height:50px;
	height:50px;
	text-transform: uppercase;
	color: #ff4d4d;

}

.navbar-default .navbar-nav.internal-nav > li:hover > a {
	height:64px;
}

.nav li:active {
	border-bottom:4px solid #333333;
	-webkit-transition: border-bottom .25s ease-in-out;

}

.navbar-default .navbar-nav.internal-nav > li > a:hover  {
	border-bottom:4px solid #333333;
	-webkit-transition: border-bottom .25s ease-in-out;
}

.navbar-default .navbar-nav.internal-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	border-bottom:4px solid #333333;
	-webkit-transition: border-bottom .25s ease-in-out;
}



/* Login Modal */

.modal-title {
	text-align: center;
	font-family: 'Lanenar';
	color: #ff4d4d;
	font-size: 3rem;

}

.modal-title {
	text-align: center;
	font-family: 'Lanenar';
	color: #ff4d4d;
	font-size: 3rem;

}

.modal-subtitle {
	text-align: center;
	margin-top:20px;
}

.modal-header {
	border-bottom: none;
}

.modal-backdrop {

  background-color:#ff4d4d;

}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=80);
  opacity: 1;
}

.modal-content {

  background-color: rgba(255,255,255,0.7);
	border:none;
  outline: none;
  -webkit-box-shadow:none;
  box-shadow:none;
}


// Modal Window - Login





// Media Queries

@media (max-width: 768px) {

	.navbar-collapse {
  	border-top:transparent;
  	box-shadow: none;
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  }


}










