<%= render 'shared/nav' %>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div><%= f.email_field :email, autofocus: true, hide_label: true, placeholder: "Email is optional" %></div>
			

			<div><%= f.submit "Send", class:"btn btn-info" %></div>



		</div>

	</div>
</div>


<%= render 'shared/internal_footer' %>